* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Teachers", sans-serif;
}
body {
    margin-top: 80px;
    position: relative;
    min-height: 100vh; /* No tocar, sirve para anclar el footer*/
}
.header {
    background-color: rgb(0, 0, 0); 
    height: 80px;
    position: fixed; /*para que quede fija la barra de nav*/
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.logo {
    padding: 10px 10px;
    height: 80px;
}
.logo_carrusel {
    padding: 10px 10px;
    height: 150px;
}
/*barra de menu*/
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /*avaliable breakpoints , 576 768 1200 */
    margin: 0 auto; /*para que quede centrado en el navegador*/
}
.nav-link {
    color: white;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    margin-right: 20px;
    list-style: none; /*quita los puntos del listado*/
}
.nav-menu-item {
    font-size: 14px;
    margin: 0 5px;
    line-height: 80px;
    width: max-content; /*para que no me quite palabras si son mas de 2 al achicar*/
}
.nav-menu-link {
    padding: 8px 12px;
    border-radius: 5px;
}
.nav-menu-link:hover,
.nav-menu-link_active {
    background-color: rgb(255, 140, 58);
    transition: 0.5s;
}
.nav-menu-link-cat:hover,
.nav-menu-link-cat_active {
    background: none;
    color: rgb(255, 140, 58);
    transition: 0.2s;
}
/*menu desplegable para smartphone*/
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0px 20px;
    line-height: 60px;
    display: none;
}
/* Fin del herder*/

.main_ppal {
    display: flex;
    flex-wrap: wrap;
}
.banner {
    position: relative;
    width: 100%;
    height: calc(97vh - 100px);
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-out;
    animation: banner 21s infinite linear;
}
@keyframes banner {
    0% { background-image: url("../img/carrusel_large/asus.jpg");}
    33% { background-image: url("../img/carrusel_large/asus.jpg");}
    34% { background-image: url("../img/carrusel_large/asus_king.jpg");}
    66% { background-image: url("../img/carrusel_large/asus_king.jpg");}
    67% { background-image: url("../img/carrusel_large/loop_drop.jpg");}
    100% {  background-image: url("../img/carrusel_large/loop_drop.jpg");}
}

/*carrusel de marcas*/
.marquee-container {
    margin: 13px;
    overflow: hidden;
}
.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
    font-size: 18px;
    width: 100%;
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
/*fin carrusel de marcas*/

.background {
    background-color: #5FBFF9;
}
.aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 80px; 
    text-align: center;
    margin-top: 0px;
}
.section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 0;
}

.texto {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 20px;
}
.card_cata {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    text-decoration: underline;
    max-height: max-content;
    text-align: center;
}
.card_cata2 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    text-decoration: underline;
    max-height: max-content;
    text-align: center;
}
.categorias_ppal {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
/*Flip card*/
.card_cat img {
    max-width: 100%;
}
.card_cat {
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(auto, auto);
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
    perspective: 1000px;
    position: relative;
    width: 280px;
    height: 225px;
    margin: 20px;
}
.card_cat .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.5s;
}
.card_cat .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card_cat .front img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_cat .front h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}
.card_cat .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(0, 0, 0);
    padding: 30px 15px 30px 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card_cat .back .link {
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}
.card_cat .back .link a {
    color: rgb(255, 140, 58);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.card_cat .back h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.card_cat .back p {
    letter-spacing: 1px;
    font-size: 14px;
    text-align: justify;
}
.card_cat:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card_cat:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
.card_aside {
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(auto, auto);
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    width: 260px;
    margin: 10px;
    align-items: center;
    text-align: center;gap: 80px;
}
.card_iframe_section {
    background-color: none;
}
.card_aside img {
    width: 260px;
    max-width: 100%;
    margin: 0;
    box-shadow: 0 5px 10px #000;
}
.card_aside h2 {
    font-size: 16px;
    color: rgb(255, 140, 58);
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.card_aside h3 {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.card_aside a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 140, 58);
}
.carousel_aside_wrapper {
    height: 225px;
    position: sticky;
    width: 260px;
    display: block;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0.4);
 }
.carousel_aside_item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 10px black;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
}
.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}
[id^="item"] {
    display: none;
}
*:target ~ .item-1 {
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;
}
#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}
.item-1 {
    z-index: 2;
    opacity: 1;
    background: url("../img/index/notebook_hp.png");
    background-size: cover;
}
.item-2 {
    background: url("../img/index/notebook_hp2.png");
    background-size: cover;
}
.item-3 {
    background: url("../img/index/notebook_hp3.png");
    background-size: cover;
}
*:target ~ .item-4 {
    opacity: 0;
}
#item-4:target ~ .item-4 {
    opacity: 1;
}
#item-5:target ~ .item-5,
#item-6:target ~ .item-6 {
    z-index: 3;
    opacity: 1;
}
.item-4 {
    z-index: 2;
    opacity: 1;
    background: url("../img/index/pc_escritorio.png");
    background-size: cover;
}
.item-5 {
    background: url("../img/index/pc_escritorio2.png");
    background-size: cover;
}
.item-6 {
    background: url("../img/index/pc_escritorio3.png");
    background-size: cover;
}
*:target ~ .item-7 {
    opacity: 0;
}
#item-7:target ~ .item-7 {
    opacity: 1;
}
#item-8:target ~ .item-8,
#item-9:target ~ .item-9 {
    z-index: 3;
    opacity: 1;
}
.item-7 {
    z-index: 2;
    opacity: 1;
    background: url("../img/index/A03_1.png");
    background-size: cover;
}
.item-8 {
    background: url("../img/index/A03_2.png");
    background-size: cover;
}
.item-9 {
    background: url("../img/index/A03_3.png");
    background-size: cover;
}
.price_info {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin-right: 0px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.7);
}
.price {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.7);
}

/* Para Mysql */
:root {
    --main: #5900FF;
    --main-midtone: #885bdc;
    --main-light: #EFE7FF;
    --secondary: #FFEFBD;
    --secondary-light: #FFF8E4;
    --dark: #242424;
    --dark-light: #2F2F2F;

    --completed: #a3ffa0;
    --archived: #ffa0a0;

    --main-padding: 50px;
    --secondary-padding: 25px;
    --terciary-padding: 15px;
    --min-padding: 10px;
}

.dark-background {
    background-image: url("../resources/img/bg_dark.png");
}

main {
    padding: var(--main-padding);

    @media only screen and (max-width: 600px) {
        padding: var(--secondary-padding);
    }
    
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    h2 {
        color: var(--main-light);
        font-weight: 200;
    }
 
    .headerActionButton {
        color: var(--main-light);
        border: none;
        
        background-color: transparent;
        
        /* font-family: 'Roboto'; */
        font-weight: 200;
        font-size: 0.75em;

        transition: all 0.2s;
    }

    .headerActionButton.active {
        color: var(--secondary);
        text-decoration: underline;
    }

    .headerActionButton:hover {
        color: var(--main);
        cursor: pointer;
    }

    .tareas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
        gap: var(--main-padding);

        padding: var(--terciary-padding);

        .tareas-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: var(--main-padding);
        }

        .tarea {
            position: relative;

            display: flex;
            flex-direction: column;

            justify-content: flex-start;

            width: 300px;
            height: 250px;

            padding: var(--secondary-padding);

            transition: all 0.1s;

            @media only screen and (max-width: 600px) {
                width: 200px;
                height: 150px;
    
                padding: var(--min-padding);
    
                font-size: 0.75em;
            }

            h3 {
                padding: var(--min-padding);

                .detalle {
                    color: gray;
                    font-size: 0.75em;
                }
            }

            hr {
                width: 100%;
                margin: 5px;
            }

            .descripcion {
                padding: var(--min-padding);
                line-height: 1.5em;

                flex: 6;

                width: 100%;
            }

            .acciones {
                flex: 1;

                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                width: 100%;
                opacity: 0;

                font-size: 2em;
                
                @media only screen and (max-width: 600px) {
                    font-size: 1.7em;
                }

                transition: all 0.1s;

                button {
                    margin: 0 5px;
                    color: var(--dark);
                    transition: all 0.2s;
                    
                    border: none;
                    background-color: transparent;
                    font-size: 1em;
                }

                button:hover {
                    cursor: pointer;
                }

                #Crear:hover,
                #Completar:hover,
                #Pendiente:hover {
                    color: var(--main);
                }

                #Crear:hover {
                    cursor: pointer;
                }

                #Editar:hover {
                    color: var(--main-midtone);
                }

                #Archivar:hover,
                #Cancelar:hover {
                    color: red;
                }
            }

            .fecha {
                position: absolute;
                bottom:0;
                right: 0;
                padding: var(--min-padding);

                font-weight: 400;
                font-size: 0.8em;

                @media only screen and (max-width: 600px) {
                    font-size: 0.6em;
                }
            }
        }

        .tarea.pendiente {
            background-color: var(--secondary);
        }

        .tarea.completada {
            background-color: var(--completed);
        }

        .tarea.archivada {
            background-color: var(--archived);
        }

        .tarea:hover .acciones {
            opacity: 100;
        }

        .tarea.agregar {
            width: unset;
            height: unset;
            position: sticky;
            padding: 0;
            bottom: 0;
            right: var(--secondary-padding);
            z-index: 100;

            background-color: transparent;
            transition: all 0.2s;

            display: flex;
            justify-content: center;
            align-items: center;

            .accion {
                color: var(--main-light);
                font-size: 4em;

                transition: all 0.2s;
            }

            .accion:hover {
                color: var(--main);
            }
        }
    }
}

@keyframes scroll-color-change {
    from {
        color: var(--dark);
    }
    to {
        color: var(--main-light);
    }
}

@keyframes scroll-color-change-inverse {
    from {
        color: var(--main);
    }
}

.chanfle {
    /*Una forma de obtener esquinas a 45 grados*/
    /* https://css-generators.com/custom-corners/ */
    clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%);
    overflow: hidden;
    z-index: 1;
}


.footer_section {
    color: #EFE9F4;
    background-color: #171D1C;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.copyright {
    background-color: black;
    width: 100%;
    padding: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
    word-spacing: 2px;
}

.contenedor-redes-sociales {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.icono-redes {
    position: relative;
    font-size: 0px;
    width: 40px;
    height: 42px;
    margin: 20px;
    border-radius: 50%;
    transition: all 0.5s;
}

.icono-redes:hover {
    background-color: rgb(255, 140, 58);
    box-shadow: 0px 0px 20px rgb(255, 140, 58);
}

.icono-redes:hover:nth-child(2) {
    background-color: rgb(255, 140, 58);
    box-shadow: 0 0 20px rgb(255, 140, 58);
}

.icono-redes:hover:nth-child(3) {
    background-color: rgb(255, 140, 58);
    box-shadow: 0 0 20px rgb(255, 140, 58);
}

.icono-redes:hover:nth-child(4) {
    background-color: rgb(255, 140, 58);
    box-shadow: 0 0 20px rgb(255, 140, 58);
}

.icono-redes i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
}

/*Boton de ir arriba*/
#button-up {
    width: 30px;
    height: 30px;
    background: rgb(255, 140, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 120px;
    right: 40px;
    transition: all 0.3s ease;
    transform: scale(0);
}
#button-up:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

/*Fin del footer*/

/*QUERY MODO SMARTPHONE*/
@media (max-width: 768px) {
    .header {
        height: 60px;
        flex-wrap: wrap;
    }
    .logo {
        padding: 0px 20px;
        height: 58px;
    }
    .nav-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 140, 58);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 0px;
        height: calc(100% - 60px);
        overflow-y: auto; /*añadir scroll cuando se minimiza el menu*/
        left: 100%;
        transition: 0.4s;
    }
    .nav-menu-item {
        line-height: 60px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: black;
    }
    .nav-toggle {
        display: block;
        cursor: pointer;
    }
    .nav-menu-visible {
        left: 0;
    }
    body {
        margin-top: 0px;
        position: relative;
        font-size: 14px;
    }
    .marquee-container {
        margin: 5px;
    }
    .marquee-content {
        animation: marquee 20s linear infinite;
        font-size: 16px;
        width: 100%;
    }
    .flip-card-back {
        font-size: 3vw;
    }
    .main_ppal {
        flex-direction: column;
    }
    .aside {
        align-items: center; 
        gap:15px; 
    }
    .section {
        flex-direction: column;
        text-align: justify;
        padding: 0px 0;
        width: 100%;
        padding-bottom: 30px;
    }
    .section h2 {
        margin-top: 40px;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .card_cat {
        width: 260px;
    }
    .card_cata {
        margin-top: 0px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .card_cata2 {
        margin-top: 0px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .card_aside {
        margin: 10px;
    }
    .texto {
        font-size: 14px;
    }
    .textp {
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 16px;
        text-decoration: underline;
    }
    .footer_section {
        height: 160px;
        padding-top: 0px;
    }
    /*Boton de ir arriba*/
    #button-up {
        bottom: 39px;
        right: 32px;
    }
}

/*QUERY MODO MOBILE*/
@media (max-width: 576px) {
    .main_ppal {
        grid-template-columns: 1fr;
        font-size: 12px;
    }
    .card_cat .back p {
        font-size: 12px;
    }
    .icono-redes {
        margin: 10px;
    }
    .texto {
        font-size: 12px;
    }
    .footer_section {
        height: 160px;
        padding-top: 0px;
    }
}